<!Doctype html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Black+Ops+One|Cookie|Fredericka+the+Great|Great+Vibes|Monoton|Pacifico|Poiret+One|Rye|Sacramento|Satisfy|Sigmar+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    

	<meta charset="utf-8">

	<title> Foodify|Food Del </title>



	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">





</head>

<style>

  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

</style>



<body style="background: url('/static/images/chicken_background.jpg');background-size:cover;">




	 <header >
        <center>
          <h1 style="font-family: 'Pacifico', cursive;font-size: 80px;text-align: center;margin-left: 800px;margin-top: 20px;float:top;position: absolute;">Foodify</h1></center>
                    <div style="margin-right: : 200px;padding-left: 1600px;" class="menu">
                     <ul id="nav" style="list-style-type: none;">
                     <li ><a href="{{ url_for('about') }}" class="brk-btn">About</a></li>
                     <br><br><br>


                    <li><a href="{{ url_for('login') }}" class="brk-btn">Login</a></li>
                    <br><br><br>

                    <li><a href="{{ url_for('register') }}" class="brk-btn">Register</a></li>
                    <br><br><br>

                    
                    <li><a href="{{url_for('Employee') }}" class="brk-btn">Employee</a></li>
                    <br><br><br>

                    </ul>
                </div>


            


        </header>


      
        

         
	<footer>

		<p style="color: white"> &copy; 2019 Sneha Shravya </p>

	</footer>

</body>

</html>
